<footer class="bg-dark bg-secondary pt-5 pb-4">
  <div class="container text-md-left">
    <div class="row">
      <!-- Logo & Description -->
      <div class="col-md-4">
        <a href="../dashboard/index.html" class="d-flex align-items-center  mb-3">
          <svg class="me-2" width="30" viewBox="0 0 30 30" fill="currentColor">
            <rect x="-0.757324" y="19.2427" width="28" height="4" rx="2" transform="rotate(-45 -0.757324 19.2427)" />
            <rect x="7.72803" y="27.728" width="28" height="4" rx="2" transform="rotate(-45 7.72803 27.728)" />
            <rect x="10.5366" y="16.3945" width="16" height="4" rx="2" transform="rotate(45 10.5366 16.3945)" />
            <rect x="10.5562" y="-0.556152" width="28" height="4" rx="2" transform="rotate(45 10.5562 -0.556152)" />
          </svg>
          <h4 class="mb-0 text-white">Express job</h4>
        </a>
        <p class="mt-3 text-white text-white">It is a long established fact that a reader will be distracted by readable content when looking at its layout.</p>
        <p><i class="bi bi-geo-alt-fill me-2 text-white"></i> 2798 Meadow Lane, Napa, CA 94559</p>
        <p><i class="bi bi-telephone-fill me-2 text-white"></i> (808) 555-0111</p>
      </div>


    </div>
  </div>
</footer>
