
<br>
<br>
<div class="row">
  <!-- Carte pour les Clients -->
  <div class="col-md-6">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Total Clients</h5>
        <h2 class="mb-0">{{ countClients }}</h2>
      </div>
    </div>
  </div>

  <!-- Carte pour les Professionnels -->
  <div class="col-md-6">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Total Professionnels</h5>
        <h2 class="mb-0">{{ countProfessionnels }}</h2>
      </div>
    </div>
  </div>
</div>
